body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('leafs.jpg');
    color: white;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid black;
    overflow: hidden;
    background-color: beige;
    margin: 3px;
    border-color: brown;
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 60px;
    height: 40px;
    background: brown;
    border: 3px solid brown;
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0 -5px 5px black;
    transform: translateX(-50%);
}
.falling-object {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: crimson;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: black;
}

button {
    background-color: beige;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}








