body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

#game-container {
    position: relative;
    width: 400px;
    height: 600px;
    border: 2px solid #333;
    overflow: hidden;
    background: linear-gradient(to bottom, #87ceeb, #fff)
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 60px;
    height: 40px;
    background: linear-gradient(to bottom, #8b4513, #cd853f);
    border: 3px solid #854513;
    border-radius: 0 0 20px 20px;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,0.3);
    transform: translateX(-50%);
}
.falling-object {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    color: #8b4513;
}








